body {
  background-color: #232323;
  color: #f5f5f5;
}

nav a {
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
}

.title {
  letter-spacing: 3px;
}

nav {
  position: fixed;
  inset: 0;
  height: 90px;
  background-color: #000;
  z-index: 101;
  padding: 0 150px;
}

.fit-life-logo {
  height: 35px;
  width: 35px;
}

.mobile-navbar {
  bottom: 0px;
  left: 0px;
  background-color: #000;
  height: 50px;
  position: fixed;
  z-index: 101;
}

nav ul li a {
  transition: 0.4s;
}

nav ul li a:hover {
  color: orangered;
}

main {
  margin-top: 90px;
}

.login-page {
  height: calc(100vh - 90px);
  background-size: cover;
}

.login-module {
  width: 850px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: #fff;
  box-shadow: 5px 5px 12px #000;
}

.login-module input {
  background-color: transparent;
}

.login-module input:focus {
  color: #fff;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .login-module {
    width: 400px !important;
  }
  .another-side {
    display: none !important;
  }
  .login {
    width: 100% !important;
    height: 700px !important;
  }
  .login input {
    width: 99%;
  }
  .mobile-auth {
    display: grid !important;
  }
  nav {
    padding: 0 50px;
  }
}

.or-before,
.or-after {
  height: 1px;
  width: 45%;
  background-color: #232323;
}

.or {
  margin: 0 10px;
  font-weight: bold;
}

.login-module label {
  background-color: transparent;
}

.another-side {
  background: linear-gradient(135deg, #ffffff, #000000);
  color: #fff;
}

.login {
  width: 50%;
}

.login input {
  border: none;
  background-color: #f5f5f5;
  min-width: 280px;
}

.login-container {
  box-shadow: 3px 3px 10px #f5f5f5;
  color: #f5f5f5;
}

.whole-container {
  background-color: #f5f5f5;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1.5px;
  background-color: #232323;
}

.mobile-auth {
  display: none;
}

.login {
  background-color: transparent;
  backdrop-filter: blur(10px) !important;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whole-container {
  background-image: url("../images/gym.jpg");
  background-size: cover;
}

input:focus {
  outline: none;
}

.auth-btn {
  transition: 0.9s;
  background: linear-gradient(135deg, #ffffff, #000000);
}

.auth-btn:hover {
  background: linear-gradient(135deg, #000000, #ffffff) !important;
  transform: scale(1.1);
}

.about-image {
  width: 100%;
  height: 30vh;
  background-image: url("../images/gym-about.jpg");
  background-size: cover;
  background-position: center top -160px;
}

.about-img {
  width: 100%;
  height: 500px;
  background-size: cover;
}

.about-end {
  background-color: #000;
  color: #fff;
  margin-bottom: -20px;
}

.cursor {
  cursor: pointer;
}

.logout {
  transition: 0.4s;
}

.logout:hover {
  color: orangered;
}

.logout-screen {
  height: 100vh;
  width: 100vw;
  inset: 0;
  position: fixed;
  z-index: 105;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.3);
  backdrop-filter: blur(8px);
}

.logout-popup {
  height: 250px;
  width: 80%;
  max-width: 500px;
  background-color: #232323;
  box-shadow: 10px 10px 5px #000;
}

.logout-icon {
  transition: 0.4s;
  cursor: pointer;
}

.logout-icon:hover {
  color: orangered;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: #000;
  position: fixed;
  z-index: 105;
  display: grid;
  place-items: center;
}

.loading-rounded {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 5px solid #fff;
  border-top: 5px solid transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-container {
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

video {
  background-size: cover;
}

.fit-life {
  font-weight: bolder;
  font-size: 100px;
  letter-spacing: 10px;
}

.workout input:focus {
  outline: none;
}

.input-images img {
  width: 200px;
  height: 150px;
  background-size: cover;
}

.workout_img {
  width: 150px;
  height: 100px;
  background-size: cover;
}

.table tr td {
  background-color: #232323;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
}
