nav a {
  text-decoration: none;
  color: #fff;
}

nav {
  height: 60px;
  background-color: #232323;
}

.fit-life-logo {
  height: 35px;
  width: 35px;
}

main {
  background-color: #f5f5f5;
}

.mobile-navbar {
  bottom: 0px;
  left: 0px;
  background-color: #232323;
  height: 50px;
}

nav ul li a {
  transition: 0.4s;
}

nav ul li a:hover {
  color: orangered;
}
